header {
  box-shadow: 1px 2px 0px black;
  height: 70px;
}

.circular-shape {
  max-width: 30px;
  height: auto;
  width: auto;
}

.menutext {
  font-size: 3rem;
  margin-left: 110px;
  margin-top: -30px;
}

.circular-shape-left {
  margin-top: 20px;
  margin-left: 10px;
}

.circular-shape-right {
  margin-top: -95px;
  margin-left: 325px;
}

.icon {
  max-width: 180px;
  height: auto;
  width: auto;
  margin-top: 70px;
  margin-left: 4px;
}

.add-button {
  max-width: 40px;
  height: auto;
  width: auto;
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.add-button-text {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 85px;
}

.apartment {
  font-size: 2rem;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.select-apartment {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 25px;
  margin-left: 150px;
}

.guests {
  font-size: 2rem;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

.select-guests {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 65px;
  margin-left: 150px;
}

.add-guest {
  margin-left: 20px;
  margin-top: 20px;
}

.confirmation-text {
  font-size: 2rem;
  position: absolute;
  margin-top: 140px;
  margin-left: 100px;
}

.confirmation-icon {
  max-width: 120px;
  height: auto;
  width: auto;
  margin-top: 180px;
  margin-left: 130px;
  position: absolute;
}

.warning-icon {
  max-width: 80px;
  height: auto;
  width: auto;
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
}

.warning-text {
  font-size: 3rem;
  position: absolute;
  margin-top: 70px;
  margin-left: 120px;
}

.send-icon {
  max-width: 120px;
  height: auto;
  width: auto;
  margin-top: 180px;
  margin-left: 130px;
  position: absolute;
}

.camera-icon {
  max-width: 30px;
  height: auto;
  width: auto;
  margin-top: -50px;
  margin-left: 190px;
  position: absolute;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  vertical-align: middle;
}

th {
  font-weight: bold;
  text-align: right;
}

td {
  width: 22.5%;
  text-align: center;
}

.history-table {
  width: 90%;
  height: 150px;
  margin-left: 20px;
  margin-top: 30px;
}
