header {
  box-shadow: 1px 1px 0px black;
  height: 70px;
}

.circular-shape {
  max-width: 30px;
  height: auto;
  width: auto;
}

.menutext {
  font-size: 3rem;
  margin-left: 115px;
  margin-top: -30px;
}

.circular-shape-left {
  margin-top: 20px;
  margin-left: 10px;
}

.circular-shape-right {
  margin-top: -95px;
  margin-left: 325px;
}

.icon {
  max-width: 180px;
  height: auto;
  width: auto;
  margin-top: 70px;
  margin-right: 5px;
}
