header {
  box-shadow: 1px 1px 0px black;
  height: 70px;
}

.circular-shape {
  max-width: 30px;
  height: auto;
  width: auto;
}

.menutext {
  font-size: 3rem;
  margin-left: 110px;
  margin-top: -30px;
}

.circular-shape-left {
  margin-top: 20px;
  margin-left: 10px;
}

.circular-shape-right {
  margin-top: -95px;
  margin-left: 325px;
}

.icon {
  max-width: 180px;
  height: auto;
  width: auto;
  margin-top: 70px;
  margin-left: 4px;
}

.add-button {
  max-width: 40px;
  height: auto;
  width: auto;
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.add-button-text {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 85px;
}

.apartment {
  font-size: 2rem;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.select-apartment {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 25px;
  margin-left: 150px;
}

.guests {
  font-size: 2rem;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

.select-guests {
  font-size: 1.5rem;
  position: absolute;
  margin-top: 65px;
  margin-left: 150px;
}
